.sidebar{
    transition: 0.5s;
}
.menu{
    transition: 0.5s;
    width: 68px;
    margin: 10px;
    position: absolute;
    left: -78px;
    cursor: pointer;
}
.descricao{
    width: 300px;
    transition: 0.5s;
    text-overflow: ellipsis;
    max-height: 0px;
    overflow: auto;
}
.itemAdd{
    transition: 0.5s;
    cursor: pointer;
}
.finalizarObservacao, .finalizarObservacaoF{
    display: flex;
    justify-content: end;
    margin-top: 12px;
}
.finalizarObservacaoF{
    margin-top: 0;
}
.modalObservacao, .modalObservacaoF{
    display: none;
    justify-content: center;
    width: 100%;
    position: fixed;
    height: 100%;
    background: #0000009e;
    z-index: 2;
}
.modalText{
    width: 100%;
    display: flex;
    justify-content: center;
}
.modalTextF{
    width: 100%;
    display: block;
}
.modalTextNameF{
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
}
.modalBase{
    margin-top: 150px;
    transform: scale(0);
    width: 70%;
    height: 400px;
    transition: 0.5s;
    border: solid 0px;
    border-radius: 5px;
}
.modalBaseF{
    max-height: 380px;
    transition: 0.5s;
    border: solid 0px;
    border-radius: 5px;
    margin-top: 150px;
    transform: scale(0);
    width: 70%;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
textarea, textarea:focus, input, input:focus, select:focus{
    border: solid 4px red;
    outline: 0;
}
.itemAdd:hover{
    transform: scale(1.2);
}
.bg-red-600{
    background-color: red;
}
.item{
    transition: 0.5s;
    display: inline-table;
    max-height: 525px;
}
.item:hover{
    box-shadow: 0 0 20px;
}
.carrinho{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    overflow: auto;
}
.apoio{
    min-width: 300px;
    transition: 0.5s;
}
.sidebar{
    z-index: 1;
}
.finalizar, .finalizarPedido{
    margin-right: 10px;
    min-width: 190px;
}
